node_modules/
.expo/
.expo-shared/

npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
*.txt

# macOS
.DS_Store

# misc
assets
components/**/*.js
!components/Customer.js
!components/ToolBar.js
!components/toolbar/TopMenu.js
!components/Send.js
!components/Reserve.js
containers/**/*.js
!containers/Pannel.js
!containers/Block.js
!containers/BanksList.js
api