node_modules/
.expo/
.expo-shared/

npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
*.txt

# macOS
.DS_Store

# misc
assets
deprecated/
toolbar/
components/**/*.js
!components/Customer.js
!components/ToolBar.js
!components/Send.js
!components/Reserve.js
!components/LastExchanges.js
!components/Loader.js
!components/account/Login.js
containers/**/*.js
!containers/Pannel.js
!containers/Block.js
!containers/BanksList.js
!containers/Screen.js
!containers/Page.js
navigation/**/*.js
!navigation/BottomTabNavigator.js
api